.page-content {
    margin-top: 0;
    padding-top: 8%;
    background: white;
}

.about-content {
    color: black;
    letter-spacing: 1.2px;
}

.about-content ul li {
    padding-bottom: 0.75rem;
}