@media screen and (max-width: 625px) {
    h1 b{
        font-size: 13vw;
    }
}

@media screen and (min-width: 625px) {
    h1 b{
        font-size: 6vw;
    }
}

.page-content {
    margin-top: 0;
    background: linear-gradient(0deg, rgb(23, 53, 82) 0%, rgba(85,133,179,1) 94%, rgba(255,255,255,1) 100%);
}

.experience-content {
    color: white;
    letter-spacing: 1.2px;
}

.experience-content a {
    color: rgb(154, 208, 255);
    letter-spacing: 1.2px;
}