@media screen and (max-width: 625px) {
    h1 b{
        font-size: 13vw;
    }
}

@media screen and (min-width: 625px) {
    h1 b{
        font-size: 6vw;
    }
}

.page-content {
    margin-top: 0;
    background: linear-gradient(0deg, rgb(23, 53, 82) 0%, rgba(85,133,179,1) 94%, rgba(255,255,255,1) 100%);
}

/*
    make background 
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 52%, rgba(255,255,255,1) 100%);

    make text in white boxes
*/