.center {
    text-align: center;
}

.work-content {
    color: white;
    letter-spacing: 1.2px;
}

.project-grid {
    display: flex;
	flex-wrap: wrap;
    padding-right: 10%;
    padding-left: 10%;
}

@media (min-width: 625px) {
    .project {
        flex: 1 0 50%;
        box-sizing: border-box;
        background: white;
        color: black;
        padding: 2%;
    }
}

@media (max-width: 625px) {
    .project {
        flex: 1 0 100%;
        box-sizing: border-box;
        background-color: white;
        color: black;
        padding: 2%;
    }
}

@media (min-width: 1440px) {
    .project {
        flex: 1 0 25%;
        box-sizing: border-box;
        background-color: white;
        color: black;
        padding: 2%;
    }
}
