.center {
    text-align: center;
}

.work-content {
    color: black;
    letter-spacing: 1.2px;
}

.project-grid {
    display: flex;
	flex-wrap: wrap;
    margin: auto;
    padding-right: 10%;
    padding-left: 10%;
}

@media (max-width: 625px) {
    .project {
        max-width: 100%;
        flex: 1 0 100%;
        box-sizing: border-box;
        background-color: white;
        color: black;
        padding: 2%;
    }
}

@media (min-width: 1000px) {
    .project {
        max-width: 50%;
        flex: 1 0 50%;
        box-sizing: border-box;
        color: black;
        padding: 2%;
    }
}

@media (min-width: 1440px) {
    .project {
        max-width: 25%;
        flex: 1 0 25%;
        box-sizing: border-box;
        background-color: white;
        color: black;
        padding: 2%;
    }
}
